.filterContainer {
  height: 6rem;
  max-width: 100%;
  display: flex;
  background: #743ad5;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 15px 10px 5px rgba(0, 0, 0, 0.705);
  margin: auto;
  margin-bottom: 60px;
}

.selectedFilters {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto;
  margin-bottom: 20px;
}