*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainContainer button{
  position: relative;
}

.mainSlider{
  width: 100%;
  height: 680px;
  overflow: hidden;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.705);
}

.mainSlider ul{
  display: flex;
  flex-direction: row;
  animation: slide 20s infinite normal ease-in-out;
  width: 400%;
}

.mainSlider li{
  width: 100%;
  list-style: none;
}

.mainSlider img{
  width: 100%;
  height: 100%;
}

@keyframes slide {
  0%{margin-left: 0;}
  20%{margin-left: 0;}

  25%{margin-left: -100%;}
  45%{margin-left: -100%;}

  50%{margin-left: -200%;}
  70%{margin-left: -200%;}

  75%{margin-left: -300%;}
  95%{margin-left: -300%;}
}